pip>=18.1
bump2version>=0.5.11
wheel>=0.32.1
# code formating
black>=19.10b0
# test requirements
flake8>=3.5.0
tox>=3.5.2
pytest>=4.0.0
pytest-cov>=2.5.1
pytest-sftpserver>=1.2
coverage>=4.5.1
# docs requirements
sphinx-rtd-theme>=0.3.1
Sphinx>=1.8.1
# runtime requirements
# pinned so the bot can create PRs to test with new versions
Click==8.0.0
pandas==1.2.4;python_version >= '3.7'
PyQt5==5.15.4
pysftp==0.2.9
holidays==0.11.1
dash==1.20.0
