pip>=18.1
bump2version>=0.5.11
wheel>=0.32.1
# code formating
black>=19.10b0
# test requirements
flake8>=3.5.0
tox>=3.5.2
pytest>=4.0.0
pytest-cov>=2.5.1
pytest-sftpserver>=1.2
coverage>=4.5.1
# docs requirements
sphinx-rtd-theme>=0.3.1
Sphinx>=1.8.1
# runtime requirements
# fixed so the bot can create PRs to test with new versions
Click==7.0
pandas==0.23.4
PyQt5==5.10.0
pysftp==0.2.9
holidays==0.9.8
dash==0.37.0
